<script src="{{ 'store-locator.js' | asset_url }}" defer="defer"></script>
{{ 'store-locator.css' | asset_url | stylesheet_tag }}

<store-locator id="store-locator" class="store-locator" role="region" aria-label="Store Locator">
  <div class="container">

    <h3 class="text-center">
      {{ section.settings.header | upcase }}
    </h3>

    {{ section.settings.copy }}

    <iframe src="https://my.atlistmaps.com/map/a8bd4bc0-5d44-45fe-a06b-e8372518a640?share=true" allow="geolocation 'self' https://my.atlistmaps.com" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>

    {% comment %} Decorations {% endcomment %}
    {% render 'icon-shaded-box' %}
    {% render 'icon-squigly-short' %}
  </div>
</store-locator>

{% render 'section-spacing', section_name: 'store-locator' %}

{% schema %}
  {
    "settings" : [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Store Locator"
      },
      {
        "type": "richtext",
        "id": "copy",
        "label": "Text"
      },
      FRAGMENT.section-spacing
    ],
    "presets": [
      {
        "name": "Store Locator"
      }
    ]
  }
{% endschema %}