@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

/* ============================================================================
  Store Locator
============================================================================== */

.store-locator {
  display: block;
  margin-top: 110px;

  @include media-query($min, $medium) {
    margin-top: 110px;
  }

  .container {
    position: relative;
  }

  .icon-shaded-box {
    display: block;
    position: absolute;
    z-index: 10;
    top: -82px;
    right: 10px;
    transform: scale(0.8);

    @include media-query($min, $medium) {
      top: -5%;
      transform: scale(1);
    }

    @include media-query($min, $xlarge) {
      top: -32px;
      right: -20px;
      transform: scale(1.2);
    }

    path {
      fill: $color-rouge;
    }
  }

  .icon-squigly-short {
    position: absolute;
    z-index: 10;
    top: 92%;
    left: -5%;
    transform: scale(0.6);

    @include media-query($min, $medium) {
      left: -2.5%;
      transform: scale(0.75);
    }

    @include media-query($min, $xlarge) {
      left: -4%;
      transform: scale(0.9);
    }

    path {
      stroke: $color-purple;
    }
  }

  h3 {
    margin-bottom: 20px;
    font-family: $font-museo-900;
    @include typography(36, 36, 900);

    @include media-query($min, $medium) {
      margin-bottom: 30px;
      @include typography(44, 44, 900);
    }
  }

  p {
    margin: 0 auto 30px;
    text-align: center;

    @include media-query($min, $medium) {
      max-width: 80%;
      margin-bottom: 40px;
    }

    @include media-query($max, $xlarge) {
      @include typography(18, 24);
    }
  }

  iframe {
    margin-bottom: 70px;
  }
}
