@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

/* ============================================================================
  Featured Product
============================================================================== */

.featured-product-section {
  margin-bottom: -30px;
  padding: 120px 0 0;

  @include media-query($min, $medium) {
    margin-bottom: 0;
    padding: 160px 0 20px;
  }

  @include media-query($min, $xlarge) {
    padding: 180px 0 20px;
  }

  .swiper-wrapper {
    height: auto;
    margin-top: 14px;
  }

  .container {
    position: relative;
  }

  .btn {
    width: 100%;

    @include media-query($max, $xlarge) {
      margin-top: 10px;
    }
  }

  .icon-shaded-box {
    display: block;
    position: absolute;
    z-index: -1;
    top: -20px;
    right: 0;
    transform: scale(0.7);

    @include media-query($min, $medium) {
      top: -45px;
      right: 5%;
    }

    @include media-query($min, $xlarge) {
      top: 0;
      transform: scale(1);
    }
  }

  .icon-squigly-long {
    display: block;
    position: absolute;
    top: -70px;
    right: -80px;
    transform: scale(0.5);

    @include media-query($min, $medium) {
      top: -100px;
      right: -20px;
      transform: scale(0.7);
    }

    @include media-query($min, $xlarge) {
      top: -70px;
      right: 0;
      transform: scale(1);
    }

    path {
      stroke: $color-rouge;
    }

    .yotpo-bottomline {
      cursor: default !important;

      a {
        pointer-events: none !important;
      }
    }
  }

  .icon-squigly-short {
    display: none;
    position: absolute;
    top: 34%;
    left: -50px;
    transform: scale(0.5);

    @include media-query($min, $medium) {
      display: block;
      top: 105%;
      transform: scale(0.7);
    }

    @include media-query($min, $xlarge) {
      transform: scale(1);
    }

    path {
      stroke: $color-purple;
    }
  }
}

.featured-product__images {
  position: relative;
  border-radius: $border-radius-media;

  @include media-query($max, $medium) {
    aspect-ratio: 1;
  }

  img {
    border-radius: $border-radius-media;
  }
}

.featured-product__header {
  position: absolute;
  z-index: 10;
  top: -44px;
  left: 16px;
  font-family: $font-museo-900;
  @include typography(50, 70, 900);

  @include media-query($min, $medium) {
    top: -60px;
    left: 14px;
    @include typography(76, 90, 900);
  }

  @include media-query($min, $xlarge) {
    top: -76px;
    left: -28px;
    @include typography(96, 115, 900);
  }
}

.featured-product__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.featured-product__badge {
  position: absolute;
  z-index: 10;
  top: 3%;
  left: -54px;
  transform: scale(0.6);

  @include media-query($min, $medium) {
    top: 19%;
    left: -34px;
    transform: scale(0.8);
  }

  @include media-query($min, $xlarge) {
    top: 90px;
    left: -90px;
    transform: scale(1);
  }
}

.featured-product__content {
  padding: 32px 20px;

  @include media-query($min, $xlarge) {
    padding: 40px 0 40px 80px;
  }

  .product-rating {
    margin: 0 0 0 15px;
  }
}

.featured-product__title {
  margin-bottom: 10px;
  font-family: $font-museo-700;
  @include typography(30, 30, 700);

  @include media-query($min, $xlarge) {
    margin-bottom: 20px;
    @include typography(35, 43, 700);
  }
}

.featured-product__price {
  margin-bottom: 16px;
  @include typography(20, 22, 700);

  @include media-query($min, $xlarge) {
    @include typography(22, 26, 700);
  }
}

.featured-product__description {
  margin: 0 0 24px;

  @include media-query($max, $xlarge) {
    margin: 0 0 20px;
  }
}

.featured-product__care-instructions {
  display: block;
  position: relative;
  margin: 0 0 13px;
  overflow: inherit;

  @include media-query($min, $xlarge) {
    margin: 0 0 20px;
  }
}

.featured-product__care-instructions-container {
  overflow: hidden;

  @include media-query($max, $xlarge) {
    p {
      @include typography(18, 24);
    }
  }
}

.featured-product__care-instructions-wrapper {
  gap: 12px;
}

.featured-product__care-instruction {
  display: flex;
  flex-direction: column;
  width: 80px;
  gap: 8px;
}

.featured-product__care-instruction-image {
  position: relative;
  width: 80px;
  height: 55px;
  border: 1px solid $color-black;
  border-radius: $border-radius-media;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius-media;
  }
}

.featured-product_navigation {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 0;
  width: 100%;

  @include media-query($max, $medium) {
    top: 55%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);

    &:hover {
      svg path:first-child {
        stroke: $color-pink;
        fill: $color-pink;
      }
    }
  }

  .swiper-button-prev {
    top: -20px;
    left: -26px;

    @include media-query($min, $medium) {
      top: 0;
      left: -50px;
    }

    @include media-query($min, $xlarge) {
      left: -60px;
    }
  }

  .swiper-button-next {
    top: -20px;
    right: -26px;

    @include media-query($min, $medium) {
      top: 0;
      right: -50px;
    }

    @include media-query($min, $xlarge) {
      right: -60px;
    }
  }

  .swiper-button-disabled {
    opacity: 0.3;
  }

  .icon {
    transform: scale(1.2);
    fill: $color-peach;

    @include media-query($min, $medium) {
      transform: scale(1.3);
    }

    path:first-child {
      stroke: $color-peach;
    }
  }

  svg {
    border: 1px solid $color-black;
    border-radius: 50%;

    path:first-child {
      transition: all 0.3s ease;
      stroke: $color-peach;
      fill: $color-peach;
    }
  }
}
