/* Helpers */
@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

/* ============================================================================
  Hero Slider
============================================================================== */

.hero-slider {
  display: block;
  position: relative;

  .background-image {
    object-position: 0% 20%;
  }

  .btn {
    width: 90%;
    max-width: 600px;
    border-color: var(--cta-border-color);
    background-color: var(--cta-bg-color);
    color: var(--cta-text-color);

    @include media-query($max, $medium) {
      width: 80%;
      margin: auto;
    }

    &:hover {
      border-color: var(--cta-border-color-hover);
      background-color: var(--cta-bg-color-hover);
      color: var(--cta-text-color-hover);

      svg {
        transform: translateY(6px);
        transition: 0.3s all ease;

        path {
          stroke: var(--cta-text-color-hover);
        }
      }
    }

    svg {
      margin: 0 0 0 6px;

      path {
        stroke: var(--text-color);
      }
    }
  }
}

.hero-slider__container {
  position: relative;
  justify-content: stretch;
}

.hero-slider__slide {
  position: relative;
  width: 100%;
  height: 100%;

  @include media-query($min, $medium) {
    height: 700px;
  }

  &.flex-md-row {
    .hero-slider__content {
      align-items: end;
      @include media-query($min, $medium) {
        text-align: right;
      }
    }
  }

  &.swiper-slide {
    height: auto;
  }
}

.hero-slider__content {
  position: relative;
  z-index: 10;
  top: 0;
  flex: 1;
  width: 100%;
  padding: 60px 0;
  color: var(--text-color);
  cursor: default;

  @include media-query($min, $medium) {
    max-width: 50%;
    padding: 70px 30px;
  }

  @include media-query($min, $site-width) {
    padding: 70px 76px;
  }

  .hero-slider__header {
    width: 90%;
    max-width: 600px;

    @include media-query($max, $medium) {
      max-width: 80%;
      margin: auto;
    }
  }

  .preheader--medium .hero-slider__preheader {
    margin-bottom: 10px;
    @include typography(22, 28, 500);

    @include media-query($min, $medium) {
      @include typography(24, 30, 700);
    }
  }

  .preheader--large .hero-slider__preheader {
    margin-bottom: 10px;
    @include typography(24, 30);
    letter-spacing: 0.02rem;

    @include media-query($min, $site-width) {
      @include typography(30, 36);
      letter-spacing: 0.02rem;
    }
  }

  .title--medium .hero-slider__title {
    margin-bottom: 10px;
    font-family: $font-museo-900;
    @include typography(64, 64);

    @include media-query($min, $medium) {
      @include typography(80, 80);
    }
  }

  .title--large .hero-slider__title {
    margin-bottom: 14px;
    font-family: $font-museo-900;
    letter-spacing: 0.02rem;
    @include typography(90, 90);

    @include media-query($min, $site-width) {
      letter-spacing: 0.02rem;
      @include typography(130, 140);
    }
  }

  .copy--medium {
    .hero-slider__copy {
      margin-bottom: 24px;

      @include media-query($max, $medium) {
        @include typography(16, 24, 500);
      }
    }

    ~ .btn {
      font-family: $font-museo-500;

      @include media-query($max, $medium) {
        @include typography(16, 24, 500);
      }

      svg {
        transform: scale(0.8);
      }
    }
  }

  .copy--large {
    .hero-slider__copy {
      margin-bottom: 24px;
      font-family: $font-museo-500;
      @include typography(16, 24, 500);

      @include media-query($min, $medium) {
        margin-bottom: 34px;
      }

      @include media-query($min, $site-width) {
        @include typography(18, 24, 500);
      }
    }

    ~ .btn {
      @include typography(16, 24, 500);

      @include media-query($min, $site-width) {
        @include typography(18, 24, 500);
      }
    }
  }

  .background-image {
    opacity: var(--bg-opacity);
  }
}

.hero-slider__image {
  position: absolute;
  top: 0;
  flex: 1;
  width: 100%;
  height: 100%;

  @include media-query($min, $medium) {
    position: relative;
  }
}

.hero-slider__navigation {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);

    @include media-query($min, $medium) {
      padding: 20px;
    }

    &:hover {
      svg path:first-child {
        stroke: $color-pink;
        fill: $color-pink;
      }
    }
  }

  .swiper-button-prev {
    left: -6px;

    @include media-query($min, $site-width) {
      left: 20px;
    }
  }
  .swiper-button-next {
    right: -6px;

    @include media-query($min, $site-width) {
      right: 20px;
    }
  }

  svg {
    transform: scale(1);
    border: 1px solid $color-black;
    border-radius: 50%;

    @include media-query($min, $site-width) {
      transform: scale(1.5);
    }

    path:first-child {
      transition: all 0.3s ease;
      stroke: $color-peach;
      fill: $color-peach;
    }
  }
}

.swiper-pagination {
  display: flex;
  position: absolute;
  z-index: 10;
  top: calc(100% - 24px);
  left: 0;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease;
  border: none;
  border-radius: 100%;
  background: $color-grey;

  &:hover {
    cursor: pointer;
  }

  &:active,
  &:hover,
  &:focus,
  &-active {
    background: $color-pink;
  }
}
